.exercise-view-main{
    width: 90%;
    margin: 1rem auto;
}

.go-back-button{
    padding: 0.5rem !important;
    font-size: 0.9rem !important;
}

.parameter-selector{
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.number-input{
    padding: 0.5rem 1rem;
    font-size: 1rem;
    min-width: 16rem;
    border: 1px solid silver;
    border-radius: 5px;
}

.questions-box{
    border: 1px solid silver;
    border-radius: 5px;
    margin-bottom: 1rem;
    max-height: 50rem;
    overflow: auto;
}
.exercise-question{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-bottom: 1px solid silver;
    padding: 1rem;   
}

.question-word{
    width: 15rem;
}
.user-answer{
    width: 85%;
}


.result-headers{
    display: flex;
}

.result-header{
    flex-basis: 33%;
    text-align: center;
    padding: 0.5rem 0;
}

.result-text{
    flex-basis: 33%;
    text-align: center;
}

.result-line{
    display: flex;
    padding: 1rem 0;
    border-bottom: 1px solid silver;
}
.correct-result{
    background-color: rgba(3, 243, 3, 0.349)
}
.wrong-result{
    background-color: rgba(250, 87, 87, 0.575)
}

